* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    max-width: 1250px;
    margin: auto;
}

header {
    position: relative;
    z-index: 9;
}

.logo img {
    width: 200px;
    height: auto;
    float: left;
    margin-top: 50px;
    margin-left: 50px;

}

.main-nav {
    margin-left: 40px;
    float: right;
    list-style: none;
    margin-top: 50px;
    margin-right: 0px;
}

.main-nav li {
    display: inline-block;
}

.main-nav li a {
    color: white;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 13px;
    margin: 14px;
    border: 1px solid transparent;
}

.main-nav li a:hover {
    background-color: solid transparent;
    border-radius: 5px;
}

#header_search {
   position: relative;
   top: 20px;

}

.search {
    text-align: right;
    color: white;
}

#header_search input::placeholder {
    color: white;
}

#s {
    color: white;
    border-color: transparent;
    background-color: transparent;
    font-size: 10px;
    top: 0;
    right: 100%;
    height: 30px;
    text-align: right;
    letter-spacing: .1em;
}

#mg {
    color: white;
}

.btn-orange {
    display: inline-block;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: orange;
    padding: 19px 15px;
    font-size: 0.9rem;
    border-radius: 2px;
    font-weight: 900;
    letter-spacing: .1em;
    cursor: pointer;
}

.btn-orange:hover {
    background-color: #fc9b1a;
}

#every {
    background-color: rgba(0, 0, 0, 0.5);
}

#banner {
    position: relative;
    top: 0;
    width: 100%;
    min-height: 548px;
    text-align: center;
    background-size: cover;
    /*background-color: rgba(0, 0, 0, 0.5);*/
}

#video_ct {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
    background-size: cover;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-image: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
